html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #d14d07;
    color: white;
    padding: 10px;
    padding-bottom: 5px;
    text-align: left;
    position: top;
    top: 0;
}

header nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    text-align: left;
}
header nav ul li{
    display: inline-block;
    list-style: none;
    text-align: left;
}

header nav ul li a {
    text-decoration: none;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 5px;

}

header nav ul li a:hover {
    background-color: #ab3c00;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
}
#cart-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    gap: 30px;
    margin-left: 20px;
    border: 1px solid #828282;
    padding: 15px;
    
}

.cart-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #adadad;
    padding: 10px;
}

.cart-item img {
    width: 250px;
    height: 200px;
    margin-bottom: 5px;

}
#total-price{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    color:green;
}

#checkout-button{
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #e05b13;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#checkout-button:hover{
    background-color: #ab3c00;
}

.remove-button{
    background-color: #e05b13;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    padding: 5px;
}
.remove-button:hover{
    background-color: #ab3c00;
}