html{
    overflow-x: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  header {
    background-color: #d14d07;
    color: white;
    padding: 16px;
    text-align: center;
    height: 40px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-top:0;
}

header nav ul li {
    border: none;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 16px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover{
    background-color: #d14d07;
}

h1 {
    margin-left: 20px;
}

#profile-container {
    margin-bottom: 30px;
    width: 100%;
    display:flex;
    flex-direction: row;
    gap: 50px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#profile-container p {
    margin-left: 20px;
    font-size: 20px;

}
h2{
    margin-left: 30px;
}

  h1, h2, h3 {
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }

  li:last-child {
    border-bottom: none;
  }

  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  .btn:hover {
    background-color: #0056b3;
  }

  #wishlist-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    gap: 30px;
    margin-left: 20px;
    padding: 15px;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #adadad;
    padding: 10px;
  }
  .product-card img {
    width: 250px;
    height: 200px;
    margin-bottom: 5px;
}

.remove-wish{
    
    margin-top: 20px;
    padding:8px;
    background-color: #e00000;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-wish:hover{
    background-color: #900202;
}

#order-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    gap: 30px;
    margin-left: 20px;
    padding: 15px;
    height: 500px;
    
}

#order-items .order-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #adadad;
    padding: 10px;
    background-color: #e8e8e8;
}
