body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #e4610a;
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin-bottom: 10px;
}



header nav ul {
    display: inline-block;
    
    list-style: none;
    padding: 0;
    text-align: left;
}

header nav ul li {
    margin: 0 15px;
    border: none;
    display: inline-block;
    
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #d14d07;
}
  
  .dashboard {
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .product-list {
    margin-top: 20px;
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
  }
  
  .product-item button {
    background-color: red;
  }
  
  .hidden {
    display: none;
  }
  
  .product-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  